In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df2010 = pd.read_excel(r'C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\capstone2\teacher and admin count\data_2010_district_profile.xlsx')
df2011 = pd.read_excel(r'C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\capstone2\teacher and admin count\data_2011_district_profile.xlsx')
df2012 = pd.read_excel(r'C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\capstone2\teacher and admin count\data_2012_district_profile.xlsx')
df2013 = pd.read_excel(r'C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\capstone2\teacher and admin count\data_2013_district_profile.xlsx')
df2014 = pd.read_excel(r'C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\capstone2\teacher and admin count\data_2014_district_profile.xlsx')
df2015 = pd.read_excel(r'C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\capstone2\teacher and admin count\data_2015_district_profile.xlsx')
df2016 = pd.read_excel(r'C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\capstone2\teacher and admin count\data_2015-16_district_profile.xlsx')
df2017 = pd.read_excel(r'C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\capstone2\teacher and admin count\data_2016-17_district_profile.xlsx')
df2018 = pd.read_excel(r'C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\capstone2\teacher and admin count\district_profile_2017-18.xlsx')
df2019 = pd.read_excel(r'C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\capstone2\teacher and admin count\districtprofile201819 (1).xlsx')

In [15]:
df2013

,YEAR,DISTRICT,DISTRICT NAME,Grades served,Number of schools,Administrators,Teachers,Average Daily Membership,Total,White,...,Title I,Title I PCT,Per Pupil Expenditures per ADA,Local Funding PCT,Federal Funding PCT,State Funding PCT,State Per Pupil Expenditures per ADA,State Local Funding PCT,State Federal Funding PCT,State State Funding PCT
0,2013,190,Davidson County,PK-12,158,757,5576,76249,81134,25810,...,NaN,NaN,9293,40.1,11.3,48.7,9293,40.1,11.3,48.7

In [12]:
df = [df2010,df2011,df2012,df2013,df2014,df2015,df2016,df2017,df2018,df2019]

In [13]:
result = pd.concat(df)

In [14]:
result

,year,district,district_name,Grades served,Number of schools,Administrators,Teachers,Average Daily Membership,Total,White,...,FEDERAL_FUNDING_PCT,STATE_FUNDING_PCT,STATE_PER_PUPIL_EXPENDITURES_PER_ADA,STATE_LOCAL_FUNDING_PCT,STATE_FEDERAL_FUNDING_PCT,STATE_STATE_FUNDING_PCT,SCHOOL_YEAR,TOTAL_EDUCATORS,STATE_PER_PUPIL_EXPENDITURES,DISTRICT_ID
0,2010.0,190.0,Davidson County,PK-12,133.0,562.0,5064.0,71708.0,75100.0,24554.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2011.0,190.0,Davidson County,PK-12,137.0,557.0,5216.0,73117.0,81003.0,26972.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2012.0,190.0,Davidson County,PK-12,143.0,592.0,5127.0,74680.0,78975.0,26489.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,PK-12,158.0,757.0,5576.0,76249.0,81134.0,25810.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2014.0,190.0,Davidson County,NaN,NaN,603.0,5394.0,NaN,82806.0,25766.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.10,28.85,9374.9,40.34,12.28,47.38,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.40,28.70,9499.1,41.00,11.70,47.30,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.49,29.24,9957.8,39.83,11.82,48.35,2016-17,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.90,29.60,NaN,39.40,11.40,49.20,2017-18,7348.0,10340.26,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.50,26.10,NaN,NaN,NaN,NaN,2018-19,7570.0,NaN,190.0