In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [79]:
df1 = pd.read_excel(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\test_scores\data_ACT-Data-by-District-2012-13.xlsx",header=1)

In [80]:
df1

,System,2013 Including Extended Time,2013 Standard Time Only,2012 Standard Time Only
0,State,19.048,19.3,19.184
1,ANDERSON SCHOOL DISTRICT,18.920,19.1,18.932
2,ALCOA CITY SCHOOLS,21.595,22.2,21.955
3,BEDFORD COUNTY SCHOOL DISTRICT,17.984,18.3,19.023
4,BENTON CO BOARD OF EDUCATION,18.376,19.2,19.358
...,...,...,...,...
115,WEAKLEY CO SCH DIST,19.462,20.1,20.076
116,WEST CARROLL SPECIAL SCH DIST,18.197,18.3,18.069
117,WHITE COUNTY SCHOOL DISTRICT,18.612,18.9,18.369
118,WILLIAMSON CO SCHOOLS,23.359,23.7,23.134
119,WILSON CO SCHLS BOE,19.898,20.2,19.896

2013 ACT

In [81]:
#df2014 = df4[(df4['District_Name'] == 'Davidson County')]
#df2014 = df2014[['SCHOOL_YEAR', 'K_8_Attendance_Rate_PCT', 'HS_Attendance_Rate_PCT']]
#df2014.rename(columns={'SCHOOL_YEAR' : 'year', 'K_8_Attendance_Rate_PCT' : 'k_8', 'HS_Attendance_Rate_PCT' : '9_12'},inplace=True)

In [82]:
df2013 = df1[df1['System']=='METRO NASHVILLE-DAVIDSON CO SD ']

In [83]:
df2013

,System,2013 Including Extended Time,2013 Standard Time Only,2012 Standard Time Only
77,METRO NASHVILLE-DAVIDSON CO SD,18.203,18.3,18.381

2014 ACT

In [84]:
df2 = pd.read_excel(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\test_scores\data_ACT-Data-by-District-2013-14.xlsx", header=1)

In [85]:
df2

,System,2013 Including Extended Time,2013 Standard Time Only,2014 Including Extended Time
0,State,19.048,19.3,19.259
1,ANDERSON SCHOOL DISTRICT,18.92,19.1,19.33
2,ALCOA CITY SCHOOLS,21.595,22.2,21.291
3,BEDFORD COUNTY SCHOOL DISTRICT,17.984,18.3,18.446
4,BENTON CO BOARD OF EDUCATION,18.376,19.2,18.958
...,...,...,...,...
117,WEAKLEY CO SCH DIST,19.462,20.1,20.251
118,WEST CARROLL SPECIAL SCH DIST,18.197,18.3,18.773
119,WHITE COUNTY SCHOOL DISTRICT,18.612,18.9,18.621
120,WILLIAMSON CO SCHOOLS,23.359,23.7,23.515
121,WILSON CO SCHLS BOE,19.898,20.2,19.735

In [86]:
df2014 = df1[df1['System']=='METRO NASHVILLE-DAVIDSON CO SD ']

In [87]:
df2014

,System,2013 Including Extended Time,2013 Standard Time Only,2012 Standard Time Only
77,METRO NASHVILLE-DAVIDSON CO SD,18.203,18.3,18.381

2015 ACT

In [88]:
df3 = pd.read_excel(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\test_scores\data_ACT-Data-by-District-2014-15.xlsx", header=1)

In [89]:
df3

,Unnamed: 0,Unnamed: 1,2014 Including Extended Time,2015 Including Extended Time
0,State,NaN,19.259,19.4
1,10,ANDERSON SCHOOL DISTRICT,19.330,19.9
2,12,OAK RIDGE SD,23.260,23.1
3,20,BEDFORD COUNTY SCHOOL DISTRICT,18.446,18.4
4,30,BENTON CO BOARD OF EDUCATION,18.958,18.4
...,...,...,...,...
121,920,WEAKLEY CO SCH DIST,20.251,19.7
122,930,WHITE COUNTY SCHOOL DISTRICT,18.621,18.7
123,940,WILLIAMSON CO SCHOOLS,23.515,23.8
124,950,WILSON CO SCHLS BOE,19.735,20.0
125,985,ACHIEVEMENT SCHOOL DISTRICT,NaN,14.2

In [90]:
df2015 = df3[df3['Unnamed: 1'] == 'METRO NASHVILLE-DAVIDSON CO SD ']

In [91]:
df2015

,Unnamed: 0,Unnamed: 1,2014 Including Extended Time,2015 Including Extended Time
29,190,METRO NASHVILLE-DAVIDSON CO SD,18.417,18.7

In [92]:
df2015.drop('Unnamed: 0', axis=1,inplace=True)

c:\Users\jhank\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [93]:
df2015 = df2015.T

In [94]:
df2015 = df2015.reset_index()

In [95]:
df2015.columns = ('year','act_avg')

In [96]:
df2015.drop([0], inplace=True)

In [97]:
df2015

                           year act_avg
1  2014 Including Extended Time  18.417
2  2015 Including Extended Time    18.7

2016 ACT

In [98]:
df4 = pd.read_excel(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\test_scores\data_2015-16_suppressed_district_level_act.xlsx")

In [99]:
df4

,District,District Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Percent Scoring 21 or Higher,Percent Scoring Below 19
0,10,Anderson County,All Students,346,67,20.3,19.8,21.5,20.9,20.8,50.6,33.8
1,12,Oak Ridge City,All Students,280,90,22.9,22.3,23.9,22.9,23.1,63.2,25
2,20,Bedford County,All Students,499,91,18,18.1,19,18.9,18.6,31.7,52.1
3,30,Benton County,All Students,147,97,18.4,18.9,19.1,19.2,19.1,38.1,47.6
4,40,Bledsoe County,All Students,101,82,18.1,18.9,19.5,19.1,19,34.7,46.5
...,...,...,...,...,...,...,...,...,...,...,...,...
124,961,Alvin C. York Institute,All Students,123,94,19.7,18.7,20.1,19.9,19.8,38.2,43.9
125,963,Tenn School For Blind,All Students,9,*,*,*,*,*,*,*,*
126,964,Tenn Sch For Deaf,All Students,8,*,*,*,*,*,*,*,*
127,970,Department of Children's Services Ed. Division,All Students,28,35,14.3,15.7,16.3,15.9,15.7,10.7,78.6
128,985,Achievement School District,All Students,194,85,14.3,15.6,15.6,15.7,15.4,4.6,87.6

In [100]:
df4['District Name'].unique()

array(['Anderson County', 'Oak Ridge City', 'Bedford County',
       'Benton County', 'Bledsoe County', 'Blount County', 'Alcoa City',
       'Maryville City', 'Bradley County', 'Cleveland City',
       'Campbell County', 'Cannon County', 'Hollow Rock-Bruceton',
       'Huntingdon Special School District',
       'McKenzie Special School District',
       'South Carroll Special School District',
       'West Carroll Special School District', 'Carter County',
       'Elizabethton City', 'Cheatham County', 'Chester County',
       'Claiborne County', 'Clay County', 'Cocke County', 'Coffee County',
       'Tullahoma City', 'Crockett County', 'Cumberland County',
       'Davidson County', 'Decatur County', 'DeKalb County',
       'Dickson County', 'Dyer County', 'Dyersburg City',
       'Fayette County', 'Fentress County', 'Franklin County',
       'Humboldt City', 'Milan Special School District',
       'Trenton Special School District',
       'Bradford Special School District',
       'Gibson County Special School District', 'Giles County',
       'Grainger County', 'Greene County', 'Greeneville City',
       'Grundy County', 'Hamblen County', 'Hamilton County',
       'Hancock County', 'Hardeman County', 'Hardin County',
       'Hawkins County', 'Haywood County', 'Henderson County',
       'Henry County', 'Hickman County', 'Houston County',
       'Humphreys County', 'Jackson County', 'Jefferson County',
       'Johnson County', 'Knox County', 'Lake County',
       'Lauderdale County', 'Lawrence County', 'Lewis County',
       'Lincoln County', 'Fayetteville City', 'Loudon County',
       'Lenoir City', 'McMinn County', 'McNairy County', 'Macon County',
       'Jackson-Madison County', 'Marion County', 'Richard City',
       'Marshall County', 'Maury County', 'Meigs County', 'Monroe County',
       'Montgomery County', 'Moore County', 'Morgan County',
       'Obion County', 'Union City', 'Overton County', 'Perry County',
       'Pickett County', 'Polk County', 'Putnam County', 'Rhea County',
       'Roane County', 'Robertson County', 'Rutherford County',
       'Scott County', 'Oneida Special School District',
       'Sequatchie County', 'Sevier County', 'Shelby County (New)',
       'Arlington City', 'Bartlett City', 'Collierville City',
       'Germantown City', 'Millington City', 'Smith County',
       'Stewart County', 'Sullivan County', 'Bristol City',
       'Kingsport City', 'Sumner County', 'Tipton County',
       'Trousdale County', 'Unicoi County', 'Union County',
       'Van Buren County', 'Warren County', 'Washington County',
       'Johnson City', 'Wayne County', 'Weakley County', 'White County',
       'Williamson County', 'Wilson County', 'Alvin C. York Institute',
       'Tenn School For Blind', 'Tenn Sch For Deaf',
       "Department of Children's Services Ed. Division",
       'Achievement School District'], dtype=object)

In [101]:
df2016 = df4[df4['District Name'] == 'Davidson County']

In [102]:
df2016 = df2016[['Average Composite Score']]

In [103]:
df2016

   Average Composite Score
28                    18.7

In [104]:
df5 = pd.read_excel(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\test_scores\data_ACT-Data-by-District-2016-17.xlsx")

In [105]:
df5

,District,District Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Number Scoring 21 or Higher,Percent Scoring 21 or Higher,Number Scoring Below 19,Percent Scoring Below 19
0,10,Anderson County,All Students,466,94.0,18.4,18.6,19.6,19.2,19.1,166,35.6,240,51.5
1,10,Anderson County,Black/Hispanic/Native American,19,95.0,15.7,17.4,17,17.6,17.1,4,21.1,14,73.7
2,10,Anderson County,Economically Disadvantaged,125,91.0,15.8,16.9,17.2,16.8,16.8,24,19.2,88,70.4
3,10,Anderson County,English Language Learners with T1/T2,0,NaN,*,*,*,*,*,*,*,*,*
4,10,Anderson County,Students with Disabilities,56,79.0,11.6,15.6,13.6,14.8,14.1,1,1.8,54,96.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,985,Achievement School District,All Students,435,94.0,14.2,15.6,15.6,16.5,15.6,27,6.2,375,86.2
641,985,Achievement School District,Black/Hispanic/Native American,432,94.0,14.2,15.6,15.5,16.5,15.6,27,6.3,373,86.3
642,985,Achievement School District,Economically Disadvantaged,320,94.0,13.9,15.5,15.4,16.3,15.4,19,5.9,280,87.5
643,985,Achievement School District,English Language Learners with T1/T2,13,93.0,13.7,16.8,17.2,18,16.6,2,15.4,11,84.6
644,985,Achievement School District,Students with Disabilities,58,88.0,12.3,14.9,13.7,15.1,14.1,2,3.4,55,94.8

In [110]:
df2017 = df5[df5['District Name'] == 'Davidson County']
df2017

,District,District Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Number Scoring 21 or Higher,Percent Scoring 21 or Higher,Number Scoring Below 19,Percent Scoring Below 19
65,190,Davidson County,All Students,4027,91.0,18.1,18.4,19.3,19.3,19,1278,31.7,2226,55.3
66,190,Davidson County,Black/Hispanic/Native American,2592,90.0,16.4,17.2,17.8,18,17.5,537,20.7,1741,67.2
67,190,Davidson County,Economically Disadvantaged,1849,88.0,16.1,17,17.4,17.8,17.2,329,17.8,1302,70.4
68,190,Davidson County,English Language Learners with T1/T2,444,87.0,13.6,16.2,15.1,16.5,15.5,29,6.5,381,85.8
69,190,Davidson County,Students with Disabilities,362,85.0,13.9,15.8,15.7,16.2,15.5,39,10.8,305,84.3

In [111]:
df2017 = df2017[df2017['Subgroup'] == 'All Students']
df2017

,District,District Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Number Scoring 21 or Higher,Percent Scoring 21 or Higher,Number Scoring Below 19,Percent Scoring Below 19
65,190,Davidson County,All Students,4027,91.0,18.1,18.4,19.3,19.3,19,1278,31.7,2226,55.3

In [112]:
df2017 = df2017[['Average Composite Score']]
df2017

   Average Composite Score
65                      19

2018 act

In [114]:
df6 = pd.read_excel(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\test_scores\2017-18 ACT_district_suppressed.xlsx")

In [115]:
df6

,District,District Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Number Scoring 21 or Higher,Percent Scoring 21 or Higher,Number Scoring Below 19,Percent Scoring Below 19
0,10,Anderson County,All Students,505,97,18.8,18.9,19.8,19.7,19.4,191,38,249,49.6
1,10,Anderson County,Black/Hispanic/Native American,29,100,15.9,17.1,17.4,17.3,17,4,14.3,21,75
2,10,Anderson County,Economically Disadvantaged,157,94,16.3,17.2,17.5,17.3,17.2,37,23.7,105,67.3
3,10,Anderson County,English Learners,3,*,*,*,*,*,*,*,*,*,*
4,10,Anderson County,Students with Disabilities,73,96,12.9,15.6,14.3,15,14.6,5,6.9,66,91.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,985,Achievement School District,All Students,395,83,14,15.6,15.7,15.9,15.5,23,5.8,345,87.6
641,985,Achievement School District,Black/Hispanic/Native American,390,83,14,15.6,15.8,15.9,15.5,23,5.9,340,87.4
642,985,Achievement School District,Economically Disadvantaged,312,83,13.8,15.6,15.6,15.8,15.4,18,5.8,275,88.4
643,985,Achievement School District,English Learners,13,81,13.8,15.2,16.5,16.9,15.8,1,7.7,11,84.6
644,985,Achievement School District,Students with Disabilities,44,59,11.4,14.8,13.2,14.4,13.7,**,**,**,**

In [118]:
df2018 = df6[df6['District Name'] == 'Davidson County']
df2018 = df2018[df2018['Subgroup'] == 'All Students']
df2018 = df2018[['Average Composite Score']]

In [119]:
df2018

    Average Composite Score
140                    18.9

2019 ACT

In [120]:
df7 = pd.read_excel(r"C:\Users\jhank\Desktop\DA7\Projects\budget-impact-jupyternb-python\data\test_scores\ACT_district_suppressed_2019.xlsx")

In [121]:
df7

,District,District Name,Subgroup,Valid Tests,Participation Rate,Average English Score,Average Math Score,Average Reading Score,Average Science Score,Average Composite Score,Number Scoring 21 or Higher,Percent Scoring 21 or Higher,Number Scoring Below 19,Percent Scoring Below 19
0,10,Anderson County,All Students,527,100,19,18.7,19.9,19.6,19.5,198,37.6,254,48.2
1,10,Anderson County,Black/Hispanic/Native American,17,100,18,17.8,17.5,18.3,17.9,5,29.4,10,58.8
2,10,Anderson County,Economically Disadvantaged,189,99,17.1,17.2,18.6,18.1,17.9,43,22.8,118,62.4
3,10,Anderson County,English Learners,3,*,*,*,*,*,*,*,*,*,*
4,10,Anderson County,Students with Disabilities,76,100,12.5,15.5,14.5,15.1,14.6,2,2.6,71,93.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,985,Achievement School District,All Students,294,83,13.4,15.4,14.8,15,14.8,14,4.8,261,88.8
591,985,Achievement School District,Black/Hispanic/Native American,292,83,13.4,15.4,14.9,15,14.8,14,4.8,259,88.7
592,985,Achievement School District,Economically Disadvantaged,244,83,13.2,15.2,14.6,14.7,14.6,9,3.7,221,90.6
593,985,Achievement School District,English Learners,7,*,*,*,*,*,*,*,*,*,*
594,985,Achievement School District,Students with Disabilities,40,67,11,14.6,13,13.1,13,**,**,**,**

In [123]:
df2019 = df7[df7['District Name'] == 'Davidson County']
df2019 = df2019[df2019['Subgroup'] == 'All Students']
df2019 = df2019[['Average Composite Score']]

In [124]:
df2019

    Average Composite Score
127                    18.5